.body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: left;
    background-image:radial-gradient(rgb(5, 5, 5), rgb(80, 89, 86), rgb(126, 119, 99));
    color: white;
    
}

.video {
    border: 40px solid rgb(235, 49, 49);
    border-radius: 30px;
    border-color:aqua;
    padding: 30px;
    padding-top: 0px;
}

.form-title {
    font-size: 30px;
    color:aqua;
    border: 5px white;
    padding: 10px;
}

.form-text {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    }

    .submit-button {

    }