.body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    height: 50px;
    margin-top:10px;
    width:100%;
    z-index: 1000;

}

.headertitle3 {
    color:rgb(35, 145, 235);
    margin-top: 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: 40px;
}
.headertitle1 {
    color:rgb(35, 145, 235);
    margin-top: 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    
}

.headertitle1-link {
    color: rgb(35, 145, 235);
    text-decoration: none;
    
}

.headertitle1-visited {
    color: black;
}

.headertitle2 {
    color:rgb(0, 0, 0);
    text-decoration: none;
    margin-top:-5px;    
}



.headertitle2-link {
    color: black;
    text-decoration: none;
    font-size: 8px;
    
}

.headertitle2-visited {
    color: black;
}



.navlist {

    height:20px;
    justify-content:space-around;
    display:flex;
    flex-direction: row;
    background-color: rgb(56, 54, 54);    
    font-size: 16px;
    font-weight: bold;
    min-width: 50px;
    align-items: center;
    


}

.navheader {
    text-decoration: none;
    list-style-type: none;
    color:white;
}

.quickmenu:link {
    color: white;
    text-decoration: none;
    }

.quickmenu:visited {
    color: white;
}

.quickmenu:hover {
    color:gray;
}

.dropdown-content {
    flex-direction: column;
    align-content: flex-start;
    position:absolute;
    width:200px;
    
}


#dropdown {
    border-top: 5px solid rgb(35, 145, 235);
    text-decoration: none;
    display:none ;
    left:87vw;
    list-style-type:none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color:rgb(56, 54, 54) ;
    
}

.dropdown-content > div {
    display:flex;
    flex-direction: row; 
    min-height: 50px;
    margin:0;
    padding:0;

    
}
.dropmenu {
    text-decoration:none;
    list-style-type:none;
    color: rgb(255, 255, 255);
    font-size: 11px;
    background-color:rgb(56, 54, 54);
    padding:10px;
    text-align: center;
    max-width: 190px;
    
}

.dropmenu:visited {
    color: white;
}

.dropmenu:hover {
    color:gray;
}

.heading {
    color: black;
    align-content: center;
    text-decoration: underline rgb(35, 145, 235);
    text-align:center;
    
}

.heading:link {
    text-decoration: none;
    color:white;
}

.heading:visited {
    color:white
}

.title {
    color:gray;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

.dropmenu-column1
.dropmenu-column2 {
    display: flex;
    flex-direction: row;
    width: 30vw; 
   
    
}
 

.dropmenu-column1 { 
    align-content: flex-start;
    text-align: left;
    min-width: 15px;
    max-width: 100px;
    word-wrap: break-word;
    padding-right:4px;
}

.dropmenu-column2 {
    align-content: flex-end;
    text-align: left;
    max-width: 100px;
    padding-left:10px;
    align-items: baseline;
}

.onlyatad-container {
    width:200px;
    min-width: 50px;
    flex-direction:row;
    display:flex;
    text-align: flex-start;
    align-items: baseline;
}

.marketplace-container {
    width:200px;
    min-width: 50px;
    flex-direction:row;
    display:flex;
    align-items: baseline;
    text-align: flex-start;
}

.news-container {
    width:200px;
    min-width: 50px;
    flex-direction:row;
    display:flex;
    text-align:flex-start;

}

.sports-container {
    max-width:200px;
    min-width: 50px;
    flex-direction:row; 
    display:flex;
    text-align: flex-start;
    align-items: baseline;
}

.thingstodo-container {
    width:200px;
    min-width: 50px;
    flex-direction:row;
    text-align: left;
}

.opinion-container {
    width:200px;
    min-width: 50px;
    flex-direction:column;
}

.legal-container {
    width:200px;
    min-width: 50px;
    flex-direction:column;
}


.button {
    font-size: 20px;
    border: 2px solid black;
    position: relative;
}

.add-container1 {
    background-color: black;
    color:white;
    font-size: 25px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right:10vw;
    height:250px;
    position:relative;
}

.add-container2 {
    background-color: black;
    color:white;
    font-size: 12px;
    height:800px;
    width:15vw;
    padding-right:10vw;
}

.article-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.nohyperlink {
    font-size: 14px;
    text-decoration: none;
}
.nohyperlink:link {
    text-decoration: none;
    color:black;

}

.nohyperlink:visited {
    text-decoration: none;
    color:black;

}

.footballpicture {
     max-width:100%;
     height:auto;
     margin-top: -140px;
}

.column1 {
    align-content: flex-start;
    text-align: left;
    color: black;

}

.column2 {
    justify-content: flex-end;
    text-align: left;
    list-style-type: none;
    border-left: 2px solid rgb(56, 54, 54);
    margin-left: 20px;
    margin-top:20px;
    height:600px;
}

.headline-columns {
    display:flex;
    margin-left:10vw;
    flex-direction:row;
    margin-top:200px;

}

.headline-list {
    text-decoration:none;
}

.headline-title {
    color:black;
    font-size: 18px;
    font-weight: bolder;
    margin-left:10px;
    border-bottom: 2px solid black;
}

.news-container {
    width:80vw;
    min-width: 50px;
    flex-direction:row;
    text-align: left;
    height:400px;
}

p {
width:40vw;
text-align: center;
margin:none;
padding:none;
}

.storybook {
    display:flex;
    flex-direction: row;

}

.sb_1 {
    width:170px;
    height:auto;
    display:flex;
    flex-direction: row;
    padding:10px;

}

.sb_t {
    font-size: 12px;
}

.sb_2 {
    width:170px;
    height:auto;
    display:flex;
    flex-direction: row;
    padding:10px;
}


.sb_3 {
    width:170px;
    height:auto;
    display:flex;
    flex-direction: row;
    padding:10px;
}

.videotitle {
    color:rgb(51, 50, 50);
    font-size:25px;
}

.video {
    border-top: 4px solid rgb(51, 50, 50);
    padding-top:40px;
    margin-top:-33px;
    margin-left:150px;
    
}